@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fefbf2;
    padding-top: 180px;
}

.header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #5e6cb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    width: 100px;
    height: auto;
    display: block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #f1ede6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #f7ab3e;
    ;
}

.login-container {
    width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #fefbf2;
    border: 1px solid #252b48;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #252b48;
}

h3 {
    color: #fefbf2;
    margin-top: 0;
    background-color: #5e6cb3;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

label{
    color: #252b48;
}



input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid#252b48;
    border-radius: 7px;
    background-color: transparent;
}

button {
    padding: 10px 20px;
    background-color: #fefbf2;
    color: #5e6cb3;
    border: 1px solid #252b48 ;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #5e6cb3;
}

.error {
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}

.register-link {
    text-align: right;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #5e6cb3;
}

.register-link:hover {
    text-decoration: underline;
}
